<html>
<body bgcolor="lightblue">
<h1 align="center">Password Generator </h1>
<hr>
<form action="password"  >
<font size='5'>Enter the length you want to generate:</font>
    <select name="length">
        <option value="5" >5</option>
        <option value="6" >6</option>
        <option value="7" >7</option>
        <option value="8" >8</option>
        <option value="9" >9</option>
        <option value="10" >10</option>
        <option value="11"  selected="selected">11</option>
    </select>
<br><br>
<font size='5'> Choose the Characters: </font><br>
    <input type="checkbox" name="uppercase">UpperCase <br>
    <input type="checkbox" name="numbers">Numbers <br>
    <input type="checkbox" name="special">Special Characters
<br><br>
    <input type="submit" value="Generate Password">

</form>
</body>
</html>